footer {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 20px 0;
    font-size: 16px;
}

#course {
    font-size: 20px;
    margin-right: 30px;
    max-width: 250px;
}

.logo {
    max-width: 80px;
    margin: 0 6px;
    align-self: center;
}

.copyright {
    border-left: 1px solid #393939;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
}

