.sfondo {
    min-height: 100vh;
}

.card {
    margin-top: 16px;
    padding-top: 5px;
    color: var(--secondary-color)!important;
    background-color: var(--tertiary-color)!important;
}

.img {
    display: flex;
    align-self: center;
    justify-content:center;
    aspect-ratio: 4/3;
    object-fit: cover!important;
    object-position: top;

}

.list {
    background-color: var(--tertiary-color)!important;
    border-color: var(--secondary-color)!important;
}
p{
    display: block;
    font-weight: bold;
    margin-bottom: 0!important;
    padding: 0;
}

.italic {
    font-style: italic;
}

.group{
    margin-bottom: 16px;
}