:root {
  --primary-color: #331c0e;
  --secondary-color: #102820;
  --tertiary-color: #CABA9C;
  --dark-color: #67331E;
  --light-color: #C38D5F;
}
@font-face {
  font-family: 'Game of Thrones';
  src: local('Game of Thrones'), url(./assets/font/Game_of_Thrones.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  src: local('Cormorant'), url(./assets/font/Cormorant/Cormorant-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant Italic';
  src: local('Cormorant Italic'), url(./assets/font/Cormorant/Cormorant-Italic-VariableFont_wght.ttf) format('truetype');
}

body {
  background: rgb(16,40,32);
  background: linear-gradient(0deg, rgba(16,40,32,1) 0%, rgba(202,186,156,1) 100%);
  color: var(--secondary-color);
  font-family: "Cormorant", serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
}

a:hover{
  font-weight: bolder;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

.button {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--tertiary-color);
  padding: 6px 16px;
  font-weight: 700;
  transition: all .2s;
  font-family: "Game of Thrones", serif;
  letter-spacing: 2px;
  font-size: small;
}

.button:hover {
  color: var(--secondary-color);
  background: var(--tertiary-color);
}

