.sfondo{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
    line-height: 2;
}

.info {
    color: var(--secondary-color)!important;
}

.ul {
    list-style-type: circle!important;
}